.background {
  background-image: url('/assets/mapBackgroundSVG.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .background {
    background-image: url('/assets/mapMobileBackgroundSVG.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
