.background {
  background-image: url('/assets/heroIntroductionBackgroundSvg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
@media screen and (min-width: 640px) {
  .background {
    background-image: none;
  }
}
